verde-claro-movistar = #b6ff52

#loading-bar
  .bar
   z-index 1049
   top 51px !important
   background verde-claro-movistar
   height 5px
  .peg
   box-shadow verde-claro-movistar 1px 0 6px 1px
#loading-bar-spinner
  z-index 1049
  top 59px !important
  .spinner-icon
    border-top-color  verde-claro-movistar
    border-left-color verde-claro-movistar


