#loading-bar .bar {
  z-index: 1049;
  top: 51px !important;
  background: #b6ff52;
  height: 5px;
}
#loading-bar .peg {
  box-shadow: #b6ff52 1px 0 6px 1px;
}
#loading-bar-spinner {
  z-index: 1049;
  top: 59px !important;
}
#loading-bar-spinner .spinner-icon {
  border-top-color: #b6ff52;
  border-left-color: #b6ff52;
}
