ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}
body {
  font-size: 16px;
  font-family: Arial, sans-serif !important;
}
body h1,
body h2,
body h3,
body h4 {
  font-family: Arial, sans-serif !important;
}
a {
  color: #0c4d73;
}
.avatar a {
  padding: 10px !important;
}
.avatar a img {
  border-radius: 2px;
}
.angular-notifications-icon {
  font-size: 0.9em;
  right: -14px;
  top: -10px;
  min-width: 20px;
  height: 20px;
  padding-top: 1px;
}
.badge {
  font-size: 0.9em;
  background-color: #033c73;
}
.badge-cuadrado {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 0.9em;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #033c73;
}
.dropdown-menu li {
  cursor: pointer;
}
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}
.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}
.row-first {
  margin-top: 25px;
}
.container-fluid {
  margin-top: 50px;
  padding-left: 0;
  padding-right: 0;
}
.divider-left {
  border-left: 1px solid #ccc;
}
.divider-bottom {
  border-bottom: 1px solid #ccc;
}
.divider-top {
  border-top: 1px solid #ccc;
}
.divider-right {
  border-right: 1px solid #ccc;
}
.legend-button {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.legend-button .legend {
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #555;
  border-bottom: 1px solid #e5e5e5;
  flex-grow: 1;
  margin-right: 10px;
}
.page-header {
  background-color: #f5f5f5;
  padding: 20px;
  margin: 0;
}
.page-header h2 {
  margin-top: 0;
  font-size: 24px;
  color: #033c73;
  margin-bottom: 0;
}
.icon-options {
  vertical-align: middle !important;
}
.icon-option {
  cursor: pointer;
  transition: all 0.09s ease;
  display: inline-block;
  vertical-align: middle;
}
.icon-option:hover {
  color: #033c73;
  transform: scale(1.5);
  vertical-align: middle;
}
.icon-thumbs {
  transition: all 0.01s ease;
  transform: scale(1.03);
}
.icon-thumbs-up {
  color: #3fa746;
}
.icon-thumbs-down {
  color: #f00;
}
.form-valor-field .form-group {
  margin: 0;
}
.row {
  margin-left: auto;
  margin-right: auto;
}
.table-libro-actas:hover {
  background-color: rgba(141,192,219,0.247);
  cursor: pointer;
  font-weight: bold;
}
.nav-tabs-otec .nav-tabs {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #f5f5f5;
  margin-bottom: 20px;
}
.nav-tabs-otec .nav-tabs > li {
  margin-bottom: 0;
}
.nav-tabs-otec .nav-tabs > li > a {
  margin-right: 0;
  border: 0;
  padding-left: 1.3em;
  padding-right: 1.3em;
}
.nav-tabs-otec .nav-tabs > li > a:hover {
  background-color: #e0e0e0;
  color: #033c73;
  border-radius: 0px;
}
.nav-tabs-otec .nav-tabs > li:first-child {
  padding-left: 10px;
}
.nav-tabs-otec .nav-tabs > li.active > a {
  background-color: transparent;
  border: 0;
  color: #000;
  font-weight: bold;
}
.nav-tabs-otec .nav-tabs > li.active > a:before,
.nav-tabs-otec .nav-tabs > li.active > a:after {
  border: 8px solid transparent;
  border-style: outset outset solid outset;
  border-bottom-color: #ccc;
  bottom: 0;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -8px;
  overflow: hidden;
  position: absolute;
  width: 0;
  color: #fff;
}
.nav-tabs-otec .nav-tabs > li.active > a:after {
  background: transparent;
  border-bottom-color: #fff;
  bottom: -1px;
}
.nav-tabs-otec .nav-tabs > li.active > a:focus,
.nav-tabs-otec .nav-tabs > li.active a:hover {
  background-color: transparent;
  border: 0;
}
.nav-tabs-otec .nav-tabs > li.active:hover > a {
  background-color: #e0e0e0;
}
.form-spacing {
  height: 1em;
  display: block;
}
.navbar-icon {
  padding-right: 0 !important;
}
.my-drop-zone {
  border: dotted 3px #d3d3d3;
}
.dragover {
  border: dotted 3px #f00;
}
.another-file-over-class {
  border: dotted 3px #008000;
}
.navbar-right {
  padding-right: 20px;
}
.navbar-welcome {
  padding-right: 0px;
  border-right: 1px #fff solid;
}
.no-data-text {
  margin-top: 170px;
  font-size: 1.4em;
}
.modal-xl {
  width: 90%;
  height: 600px;
}
.modal-body-tall {
  max-height: 600px;
  overflow-y: auto;
}
.ui-select-search {
  height: 100%;
}
.modal-m {
  height: 500px;
}
.error-label {
  color: #f00;
  font-weight: bold;
  font-style: italic;
}
.separador {
  padding-top: 2em;
}
.subtitle {
  font-size: 0.82em;
}
.subtitle-red {
  color: #f00;
}
.sunken-menu-otec .nav-stacked {
  border: none;
  padding-top: 31px;
  padding-bottom: 15px;
  background-image: linear-gradient(to left, #f6f6f6 0%, #fff 8px);
  box-shadow: 1px 0 0 #eee;
}
.sunken-menu-otec .nav-stacked > li {
  left: 2px;
}
.sunken-menu-otec .nav-stacked > li > a:hover {
  background-color: #e0e0e0;
  color: #033c73;
  border-radius: 0;
  border-right: 0;
}
.sunken-menu-otec .nav-stacked > li > a {
  margin-right: 0;
  display: block;
  padding: 10px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  outline: 0;
  border-right: 0;
}
.sunken-menu-otec .nav-stacked > li.active > a {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 5px solid #033c73;
  font-weight: bold;
  color: #333;
  border-right: 0;
  background-color: #fff;
  border-radius: 3px 0 0 3px;
  box-shadow: -1px 1px 3px rgba(0,0,0,0.05);
}
.notifications {
  overflow-y: auto;
  max-height: 400px;
  overflow-x: hidden;
}
.notifications .notification {
  display: block;
  white-space: nowrap;
  padding: 6px 40px 14px 10px;
  margin: 4px 0;
}
.notifications .notification-unread {
  border-left: 4px solid #033c73;
}
.notifications .notification-read {
  border-left: 4px solid #808080;
}
.notifications .notification-icon-unread {
  color: #033c73;
}
.notifications .notification-icon-read {
  color: #808080;
}
.notifications .notification i {
  padding-left: 3px;
}
.notifications .notification:hover {
  text-decoration: none;
  color: #fff;
  background-color: #2fa4e7;
  cursor: pointer;
}
.notifications .notification:hover .icon {
  text-decoration: none;
  color: #fff;
  background-color: #2fa4e7;
  cursor: pointer;
}
.notifications .notification .fecha {
  font-size: 1em;
  font-style: italic;
  text-align: right;
}
.notifications .notification .col-lg-6 {
  padding: 0;
}
.notifications .notification .visto {
  font-style: italic;
}
notification-item hr {
  margin-top: 3px;
  margin-bottom: 3px;
}
.column-type-validar {
  background-color: rgba(141,192,219,0.247);
}
.form-crear-ot .nav {
  margin-bottom: 15px;
}
.icon-radius-50 figure img {
  cursor: pointer;
  border-radius: 50%;
}
.detalle-ot-side-menu {
  background-color: #f5f5f5;
  z-index: 100;
  height: 95%;
  border-right: 1px solid #ccc;
  padding-top: 1em;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  overflow-y: auto;
}
.detalle-ot-side-menu .list-group a {
  padding-left: 1em;
  color: #0c4d73;
}
.detalle-ot-side-menu .list-group a i {
  color: #555;
}
.detalle-ot-side-menu .list-group a:hover {
  background-color: #e0e0e0;
  border-radius: 0;
}
.detalle-ot-side-menu .list-group .active {
  background-color: #e0e0e0;
  border-radius: 0;
}
.detalle-ot-side-menu .list-group .active:hover {
  color: #0c4d73;
}
.detalle-ot-side-menu .list-group a:focus {
  background-color: #e0e0e0;
  border-radius: 0;
  border-color: #e0e0e0;
  outline-color: #e0e0e0;
  color: #000;
}
.detalle-ot-side-menu .list-group-container {
  padding-top: 1em;
}
.detalle-ot-side-menu .list-group-container strong {
  padding-left: 1em;
}
.detalle-ot-side-menu .list-group-item {
  padding: 10px 1em 10px 1em;
  margin-bottom: 0;
  background-color: #f5f5f5;
  border: 0;
}
.detalle-ot-side-menu hr {
  margin: 0;
}
.detalle-ot-content {
  z-index: 50;
  padding-left: 378px;
  width: 100%;
}
.detalle-ot-content h2 {
  color: #033c73;
}
.detalle-ot-content .col-lg-3-ot {
  padding-top: 1em;
  padding-left: 0;
  padding-right: 0;
  width: 22%;
  position: fixed;
  height: 100%;
}
.detalle-ot-content .col-lg-4-ot {
  padding-top: 1em;
  padding-right: 1em;
  margin-left: 327px;
}
.detalle-ot-content .col-lg-12-ot {
  padding-top: 1em;
}
.detalle-ot-content .libro-obra-item {
  padding: 0.5em;
  cursor: pointer;
}
.detalle-ot-content .libro-obra-item .active {
  background-color: #e0e0e0;
}
.detalle-ot-content .libro-obra-item:hover {
  background-color: #e0e0e0;
}
.detalle-ot-content .observacion em {
  font-size: 0.9em;
}
.detalle-ot-content .active {
  background-color: #e0e0e0;
  border-radius: 0;
}
.detalle-ot-content .active:hover {
  color: #0c4d73;
}
.legend-mini {
  position: relative;
  padding-bottom: 0.5em;
}
.legend-mini strong {
  padding-right: 10px;
}
.legend-mini strong:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px #f5f5f5 #000;
  z-index: -1;
}
