azul-movistar = #033C73
azul-link-movistar = #0c4d73
verde-movistar = #3FA746
gris = #F5F5F5
gris-hover = rgb(224,224,224)

ul.nav li.dropdown:hover > ul.dropdown-menu
  display: block;


body
  font-size 16px
  font-family Arial, sans-serif !important
  h1,h2,h3,h4
    font-family Arial, sans-serif !important

a
  color azul-link-movistar

.avatar
  a
    padding 10px !important
    img
      border-radius 2px

.angular-notifications-icon
  font-size 0.9em
  right -14px
  top -10px
  min-width 20px
  height 20px
  padding-top 1px

.badge
  font-size 0.9em
  background-color azul-movistar
  &-cuadrado
    display inline-block
    min-width 10px
    padding 3px 7px
    font-size 0.9em
    font-weight bold
    color #ffffff
    line-height 1
    vertical-align middle
    white-space nowrap
    text-align center
    background-color azul-movistar

.dropdown-menu
  li
    cursor pointer

.no
  &-padding
    &-left
      padding-left 0
    &-right
      padding-right 0

.text
  &-align
    &-right
      text-align right
    &-left
      text-align left

.row-first
  margin-top 25px

.container-fluid
  margin-top 50px
  padding-left 0
  padding-right 0

.divider
  &-left
    border-left 1px solid #ccc
  &-bottom
    border-bottom  1px solid #ccc
  &-top
    border-top 1px solid #ccc
  &-right
    border-right 1px solid #ccc


.legend-button
  display flex
  flex-direction row
  width 100%
  align-items center
  .legend
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #555555;
    border-bottom: 1px solid #e5e5e5;
    flex-grow 1
    margin-right 10px

.page-header
  background-color gris
  padding 20px
  margin 0
  h2
    margin-top 0
    font-size 24px
    color azul-movistar
    margin-bottom 0


.icon
  &-options
    vertical-align middle !important
  &-option
    cursor pointer
    transition all 0.09s ease
    display inline-block
    vertical-align: middle
    &:hover
      color azul-movistar
      transform scale(1.5)
      vertical-align: middle
  &-thumbs
    transition all 0.01s ease
    transform scale(1.03)
    &-up
      color verde-movistar
    &-down
      color red

.form-valor-field
  .form-group
   margin: 0;

.row
  margin-left auto
  margin-right auto

.table-libro-actas
  &:hover
    background-color rgba(141, 192, 219, 0.247059)
    cursor pointer
    font-weight bold

.nav-tabs-otec
  .nav-tabs
    border-top 1px solid #ccc
    border-bottom 1px solid #ccc
    background-color gris
    margin-bottom 20px
    > li
      margin-bottom 0
      > a
        margin-right 0
        border 0
        padding-left 1.3em
        padding-right 1.3em
      > a:hover
        background-color gris-hover
        color azul-movistar
        border-radius 0px
      &:first-child
        padding-left 10px
    > li.active
      > a
        background-color transparent
        border 0
        color black
        font-weight bold
        &:before,&:after
          border 8px solid transparent
          border-style outset outset solid outset
          border-bottom-color #ccc
          bottom 0
          content ""
          height 0
          left 50%
          margin-left -8px
          overflow hidden
          position absolute
          width 0
          color white
        &:after
          background transparent
          border-bottom-color #fff
          bottom -1px
      > a:focus,a:hover
        background-color transparent
        border 0
      &:hover
        > a
          background-color gris-hover

.form-spacing
  height 1em
  display block

.navbar-icon
  padding-right 0 !important

.my-drop-zone
  border dotted 3px lightgray

.dragover
  border dotted 3px red

.another-file-over-class
  border dotted 3px green

.navbar-right
  padding-right 20px

.navbar-welcome
  padding-right 0px
  border-right 1px white solid

.no-data-text
  margin-top 170px
  font-size 1.4em

.modal-xl
  width 90%
  height 600px

.modal-body-tall
  max-height 600px
  overflow-y auto

//.modal-xl
//  height 600px

.ui-select-search
  height 100%

.modal-m
  height 500px

.error-label
  color red
  font-weight bold
  font-style italic

.separador
  padding-top 2em

.subtitle
  font-size 0.82em
  &-red
    color red

.sunken-menu-otec
  .nav-stacked
    border none
    padding-top 31px
    padding-bottom 15px
    background-image linear-gradient(to left, #f6f6f6 0%, #fff 8px)
    box-shadow 1px 0 0 #eee
    > li
      left: 2px
      > a:hover
        background-color gris-hover
        color azul-movistar
        border-radius 0
        border-right: 0
      > a
        margin-right 0
        display block
        padding 10px 10px
        margin-top 5px
        margin-bottom 5px
        border 1px solid transparent
        outline 0
        border-right: 0

    > li.active
      > a
        border-top 1px solid #eee
        border-bottom 1px solid #eee
        border-left 5px solid azul-movistar
        font-weight bold
        color #333
        border-right: 0
        background-color #fff
        border-radius 3px 0 0 3px
        box-shadow -1px 1px 3px rgba(0,0,0,0.05)
.notifications
  overflow-y auto
  max-height 400px
  overflow-x hidden
  .notification
    display block
    white-space nowrap
    padding 6px 40px 14px 10px
    margin 4px 0
    &-unread
      border-left 4px solid azul-movistar
    &-read
      border-left 4px solid grey
    &-icon-unread
      color azul-movistar
    &-icon-read
      color grey
    i
      padding-left 3px
    &:hover
      text-decoration none
      color #ffffff
      background-color #2fa4e7
      cursor pointer
      .icon
        text-decoration none
        color #ffffff
        background-color #2fa4e7
        cursor pointer
    .fecha
      font-size 1em
      font-style italic
      text-align right
    .col-lg-6
      padding 0
    .visto
      font-style italic

notification-item
  hr
    margin-top 3px
    margin-bottom  3px

.column
  &-type
    &-validar
      background-color rgba(141, 192, 219, 0.247059)

.form-crear-ot
  .nav
    margin-bottom 15px

.icon-radius-50
  figure
   img
    cursor pointer
    border-radius 50%


.detalle-ot-side-menu
  background-color gris
  z-index 100
  height 95%
  border-right: 1px solid #ccc;
  padding-top 1em
  padding-left 0
  padding-right 0
  position fixed
  overflow-y auto
  .list-group
    a
      padding-left 1em
      color azul-link-movistar
      i
        color #555555
    a:hover
      background-color gris-hover
      border-radius 0
    .active
      background-color gris-hover
      border-radius 0
    .active:hover
      color azul-link-movistar
    a:focus
      background-color gris-hover
      border-radius 0
      border-color gris-hover
      outline-color #e0e0e0
      color black
  .list-group-container
    padding-top 1em
    strong
      padding-left 1em
  .list-group-item
    padding 10px 1em 10px 1em
    margin-bottom 0
    background-color gris
    border 0
  hr
    margin 0

.detalle-ot-content
  z-index 50
  padding-left 378px
  width 100%
  h2
    color azul-movistar
  .col-lg-3-ot
    padding-top 1em
    padding-left 0
    padding-right 0
    width 22%
    position fixed
    height 100%
  .col-lg-4-ot
    padding-top 1em
    padding-right 1em
    margin-left 327px
  .col-lg-12-ot
    padding-top 1em
  .libro-obra
    &-item
      padding 0.5em
      cursor pointer
      .active
        background-color gris-hover
    &-item:hover
      background-color gris-hover
  .observacion
    em
      font-size 0.9em
  .active
    background-color gris-hover
    border-radius 0
  .active:hover
    color azul-link-movistar

.legend-mini
  position relative
  padding-bottom 0.5em
  strong
    padding-right 10px
  strong:after
    content ""
    position absolute
    bottom 0
    left 0
    right 0
    height 0.5em
    border-top 1px gris black
    z-index -1
