<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title">Adjuntar Imagen</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-4 legend">Seleccionar Imagen</div>
    <div class="col-lg-8 legend">
      <form enctype="multipart/form-data">
        <div ng-show="uploader.isHTML5">
          <input type="file" nv-file-select="" file-model="myFile" uploader="uploader" />
          <!--<input type="file" file-model="myFile"/>-->
        </div>
      </form>
    </div>
  </div>
  <div class="row" ng-repeat="item in uploader.queue">
    <div class="row">
      <div class="col-lg-3 legend">Nombre</div>
      <div class="col-lg-3 legend">{{ item.file.name }}</div>
      <div class="col-lg-3 legend">Tamaño</div>
      <div class="col-lg-3 legend">{{ item.file.size/1024/1024|number:2 }} MB</div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-6" ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
      <div class="col-lg-5"></div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-6">
        <button type="button" class="btn btn-success btn-xs" ng-click="uploadFile()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
          <span class="glyphicon glyphicon-upload"></span> Upload
        </button>
        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
          <span class="glyphicon glyphicon-trash"></span> Remove
        </button>
      </div>
      <div class="col-lg-5"></div>
    </div>
  </div>

</div>
<div  class="modal-footer">

  <button class="btn btn-default" ng-click="cancel()">Cancelar</button>


</div>





<!--<div class="modal-m">-->
  <!--<div class="modal-header">-->
    <!--<button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">×</button>-->
    <!--<h4 class="modal-title">Adjuntar Imagen</h4>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-lg-4">-->
      <!--<h3>Seleccionar Imagen</h3>-->
      <!--<form enctype="multipart/form-data">-->
        <!--<div ng-show="uploader.isHTML5">-->
          <!--<input type="file" nv-file-select="" file-model="myFile" uploader="uploader" />-->
          <!--&lt;!&ndash;<input type="file" file-model="myFile"/>&ndash;&gt;-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
    <!--<div class="col-lg-8">-->
      <!--<div class="row">-->
        <!--<div class="col-lg-4 legend">Preview</div>-->
        <!--<div class="col-lg-2 legend">Nombre</div>-->
        <!--<div class="col-lg-3 legend">Size</div>-->
        <!--<div class="col-lg-3 legend">Opciones</div>-->
      <!--</div>-->
      <!--<div class="row" ng-repeat="item in uploader.queue">-->
        <!--<div class="col-lg-4 ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>-->
        <!--<div class="col-lg-2 legend">{{ item.file.name }}</div>-->
        <!--<div class="col-lg-3">{{ item.file.size/1024/1024|number:2 }} MB</div>-->
        <!--<div class="col-lg-3 legend">-->
          <!--<button type="button" class="btn btn-success btn-xs" ng-click="uploadFile()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">-->
            <!--<span class="glyphicon glyphicon-upload"></span> Upload-->
          <!--</button>-->
          <!--<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">-->
            <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel-->
          <!--</button>-->
          <!--<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">-->
            <!--<span class="glyphicon glyphicon-trash"></span> Remove-->
          <!--</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
  <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
      <!--<h3>Subida de Imagenes</h3>-->
      <!--<p>Cantidad de imagenes: {{ uploader.queue.length }}</p>-->

      <!--<table class="table">-->
        <!--<thead>-->
        <!--<tr>-->
          <!--<th width="50%">Nombre</th>-->
          <!--<th ng-show="uploader.isHTML5">Size</th>-->
          <!--<th ng-show="uploader.isHTML5">Progress</th>-->
          <!--<th>Status</th>-->
          <!--<th>Actions</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr ng-repeat="item in uploader.queue">-->
          <!--<td>-->
            <!--<strong>{{ item.file.name }}</strong>-->
            <!--<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>-->
          <!--</td>-->
          <!--<td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>-->
          <!--<td ng-show="uploader.isHTML5">-->
            <!--<div class="progress" style="margin-bottom: 0;">-->
              <!--<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>-->
            <!--</div>-->
          <!--</td>-->
          <!--<td class="text-center">-->
            <!--<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>-->
            <!--<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>-->
            <!--<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>-->
          <!--</td>-->
          <!--<td nowrap>-->
            <!--&lt;!&ndash;<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">&ndash;&gt;-->
            <!--<button type="button" class="btn btn-success btn-xs" ng-click="uploadFile()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">-->
              <!--<span class="glyphicon glyphicon-upload"></span> Upload-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">-->
              <!--<span class="glyphicon glyphicon-ban-circle"></span> Cancel-->
            <!--</button>-->
            <!--<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">-->
              <!--<span class="glyphicon glyphicon-trash"></span> Remove-->
            <!--</button>-->
          <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
      <!--</table>-->
    <!--</div>-->
  <!--</div>-->






