<div class="row">
  <div class="row">
    <div class="col-lg-12">
      <div class="legend-button">
        <div class="legend">{{leyenda}}</div>
        <div ng-if="!!tituloBoton" ng-click="crearEditar()" class="btn btn-info">{{tituloBoton}}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div ng-show="tableParams.data.length == 0" class="col-lg-4 col-lg-offset-4 no-data-text">
        No se encontraron resultados...
      </div>
      <div >
        <table cg-busy="{promise:myPromise,message:'Cargando',minDuration:1000}" ng-show="tableParams.data.length > 0" template-header="headerTemplate"  ng-table="tableParams" class="table">
          <tr ng-hide="obj.estado === 'E'" ng-repeat="obj in $data">

            <td ng-repeat="column in columns" sortable="column.field"  ng-class="column.class">
              <span ng-click="listarDetalle(obj,column)" ng-show="column.icon != undefined" ng-class="{'icon-option':column.icon !== true,'icon-thumbs icon-thumbs-up glyphicon glyphicon-thumbs-up': obj[column.field] === true,'icon-thumbs icon-thumbs-down glyphicon glyphicon-thumbs-down': obj[column.field] === false}" class="{{column.icon}}" ></span>
              <span ng-show="column.icon == undefined && column.subfield == undefined">{{obj[column.field]| picker:column.formatter}}</span>
              <span ng-show="column.subfield != undefined && column.subfieldplus == undefined">{{obj[column.field] [column.subfield]| picker:column.formatter}}</span>
              <span ng-show="column.field2 != undefined"> - {{obj[column.field2] | picker:column.formatter}}</span>
              <span ng-show="column.subfieldplus != undefined"> {{obj[column.field][column.subfield] | picker:column.formatter}} {{obj[column.field][column.subfieldplus] | picker:column.formatter}}</span>
            </td>
            <td class="text-center">
              <div ng-show="!opcionesCrearEditar.hideEditar" ng-if="!metodos.verDetalle" ng-click="crearEditar(obj)" class="icon-option"><i tooltip="Editar {{obj.nombre}}" class="glyphicon glyphicon-edit"></i></div>
              <div ng-show="!opcionesCrearEditar.hideRemove" ng-if="!metodos.verDetalle" ng-click="eliminar(obj)" class="icon-option"><i  tooltip="Eliminar {{obj.nombre}}" class="glyphicon glyphicon-remove"></i></div>
              <div ng-show="!opcionesCrearEditar.hideVerDetalle" ng-click="verDetalle(obj)" class="icon-option"><i  tooltip="Ver Detalle {{obj.nombre}}" class="fa fa-eye"></i></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<script id="headerTemplate" type="text/ng-template">
  <tr>
    <th ng-repeat="column in columns" ng-show="column.visible"
        class="text-center sortable" ng-class="{
  'sort-asc': tableParams.isSortBy(column.field, 'asc'),
  'sort-desc': tableParams.isSortBy(column.field, 'desc')}"
        ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
      <div class="sort-indicator">{{column.title}}</div>
    </th>
    <th
        class="text-center">
      <div class="">Opciones</div>
    </th>
    <!--<th>Columns:{{columns.length}}</th>-->
  </tr>
</script>

