<div class="row">
  <div class="row">
    <div class="col-lg-12">
      <div class="legend-button">
        <div class="legend">{{leyenda}}</div>
        <div show-by-rol='["gestor"]' ng-if="!!tituloBoton" ng-click="crearEditar()" class="btn btn-info">{{tituloBoton}}</div>
        <div show-by-rol='["PMO","Imputacion","Pagos"]' ng-click="descargarExcel()" class="btn btn-info">Exportar <i class="fa fa-file-excel-o"></i></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div ng-show="tableParams.data.length == 0 && loader==false" class="col-lg-4 col-lg-offset-4 no-data-text">
        No se encontraron resultados...
      </div>
        <!--<general-loader ng-show="loader"></general-loader>-->
      <div>
        <table cg-busy="{promise:myPromise,message:'Cargando',minDuration:1000}"  ng-show="tableParams.data.length > 0" template-header="headerTemplateCrearOT"  ng-table="tableParams" class="table">
          <tr ng-hide="obj.estado === 'E'" ng-repeat="obj in $data">
            <td ui-sref="detalleOt({id:obj.id})" class="text-center icon-radius-50">
                <figure tooltip="OT" ng-show="obj.tipoOt.nombre == 'OT'"><img src="images/ot_icon.png"  width="50px"/></figure>
                <figure tooltip="AP" ng-show="obj.tipoOt.nombre == 'AP'"><img src="images/ap_icon.png" width="50px"/></figure>
            </td>
            <td ng-repeat="column in columns" sortable="column.field"  ng-class="column.class">
              <span ng-click="listarDetalle(obj,column)" ng-show="column.icon != undefined" ng-class="{'icon-option':column.icon !== true,'icon-thumbs icon-thumbs-up glyphicon glyphicon-thumbs-up': obj[column.field] === true,'icon-thumbs icon-thumbs-down glyphicon glyphicon-thumbs-down': obj[column.field] === false}" class="{{column.icon}}" ></span>
              <span ng-show="column.icon == undefined && column.subfield == undefined">{{obj[column.field]| picker:column.formatter}}</span>
              <span ng-show="column.subfield != undefined && column.subfieldplus == undefined">{{obj[column.field] [column.subfield]| picker:column.formatter}}</span>
              <span ng-show="column.field2 != undefined"> - {{obj[column.field2] | picker:column.formatter}}</span>
              <span ng-show="column.subfieldplus != undefined"> {{obj[column.field][column.subfield] | picker:column.formatter}} {{obj[column.field][column.subfieldplus] | picker:column.formatter}}</span>
            </td>
            <td class="text-center">
              <!--<div ng-if="!metodos.verDetalle" ng-click="crearEditar(obj)" class="icon-option"><i tooltip="Editar {{obj.nombre}}" class="glyphicon glyphicon-edit"></i></div>-->
              <!--<div ng-if="!metodos.verDetalle" ng-click="eliminar(obj)" class="icon-option"><i  tooltip="Eliminar {{obj.nombre}}" class="glyphicon glyphicon-remove"></i></div>-->
              <div ng-show="obj.editar"  ng-click="editarEjecutarEvento(obj)" class="icon-option"><i  tooltip="Ejecutar Evento Anterior" class="fa fa-pencil-square-o"></i></div>
              <div ng-show="obj.ejecutar"  ng-click="ejecutarEvento(obj)" class="icon-option"><i  tooltip="Ejecutar Siguiente Evento" class="fa fa-play"></i></div>
              <div ng-show="estadoListadoOt !== 'cerrada'"  ng-click="adjuntarArchivos(obj)" class="icon-option"><i  tooltip="Adjuntar Archivos" class="fa fa-upload"></i></div>
              <div ui-sref="detalleOt({id:obj.id})" class="icon-option"><i  tooltip="Ver Detalle OT" class="fa fa-eye"></i></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<script id="headerTemplateCrearOT" type="text/ng-template">
  <tr>
    <th></th>
    <th ng-repeat="column in columns" ng-show="column.visible && !column.sorteableDisabled"
        class="text-center sortable" ng-class="{
  'sort-asc': tableParams.isSortBy(column.field, 'asc'),
  'sort-desc': tableParams.isSortBy(column.field, 'desc')}"
        ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc')  ? 'desc' : 'asc')">
      <div class="sort-indicator">{{column.title}}</div>
    </th>
    <th ng-repeat="column2 in columns" ng-show="column2.sorteableDisabled"
        class="text-center">
      <div class="">{{column2.title}}</div>
    </th>
    <th
      class="text-center">
      <div class="">Opciones</div>
    </th>

    <!--<th>Columns:{{columns.length}}</th>-->
  </tr>
</script>

