<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title">Crear Workflow</h4>
</div>
<div class="modal-body">
  <!--<form ng-disabled="submitting" name="form" class="form-horizontal" novalidate>-->
    <!--<formly-form model="objeto" fields="formulario">-->
    <!--</formly-form>-->
  <!--</form>-->

  <div class="row separador">
    <div class="col-lg-1 legend">Nombre</div>
    <div class="col-lg-2"><input ng-model="nombre"/></div>
    <div class="col-lg-1 legend">Descripcion</div>
    <div class="col-lg-2"><input ng-model="descripcion"/></div>
    <div class="col-lg-1 legend">Fecha Creacion</div>
    <div class="col-lg-2">
      <p class="input-group">
        <input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"/>
      </p>
    </div>
    <!--<div class="col-lg-2"><input ng-model="fecha"/></div>-->
    <div class="col-lg-1 legend">Estado</div>
    <div class="col-lg-2">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="estado" btn-radio="'A'">Activo</label>
        <label class="btn btn-primary" ng-model="estado" btn-radio="'I'">Inactivo</label>

      </div>

    </div>
  </div>
  <!--<div class="row separador">-->
  <!--<div class="col-lg-3 legend">Fecha Creacion</div>-->
  <!--<div class="col-lg-3"><input ng-model="nombre"/></div>-->
  <!--<div class="col-lg-3 legend">Estado</div>-->
  <!--<div class="col-lg-3"><input ng-model="descripcion"/></div>-->
  <!--</div>-->
  <div class="row separador">
    <div class="col-lg-3">
      <div class="row">
        <div class="col-lg-3 legend">Evento</div>
        <div class="col-lg-9">
          <ui-select ng-model="eventoSeleccionado.selected">
            <ui-select-match placeholder="Seleccione un evento">{{$select.selected.nombre}}</ui-select-match>
            <ui-select-choices repeat="evento in listaEventos | filter: $select.search">
              <div ng-bind="evento.nombre"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 legend">Rol</div>
        <div class="col-lg-9">
          <ui-select ng-model="rolSeleccionado.selected">
            <ui-select-match placeholder="Seleccione un evento">{{$select.selected.nombre}}</ui-select-match>
            <ui-select-choices repeat="rol in listaRoles | filter: $select.search">
              <div ng-bind="rol.nombre"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="row">
        <div class="col-lg-6 legend">Es decisión?</div>
        <div class="col-lg-6 btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-click="desplegarDesiciones()">Si</button>
          <button type="button" class="btn btn-default" ng-click="esconderDesiciones()">No</button>
        </div>
      </div>
    </div>

    <div class="col-lg-6" ng-show="muestroEventoProximo">
      <div class="row">
        <div class="col-lg-3 legend">Evento Proximo</div>
        <div class="col-lg-6">
          <ui-select ng-model="eventoProximoSeleccionado.selected">
            <ui-select-match placeholder="Seleccione un evento">{{$select.selected.nombre}}</ui-select-match>
            <ui-select-choices repeat="evento in listaEventos | filter: $select.search">
              <div ng-bind="evento.nombre"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="col-lg-3" ng-show="muestroBotonAgregar">
          <div ng-click="agregarEventoSolo()" class="btn btn-info">Agregar</div>
        </div>
      </div>
    </div>
    <div class="col-lg-3" ng-show="muestroDetalleDesicion">
      <div class="row">
        <div class="col-lg-3 legend">Detalle Decisión</div>
        <div class="col-lg-9">
          <ui-select ng-model="desicionSeleccionada.selected">
            <ui-select-match placeholder="Seleccione un desición">{{$select.selected.respuesta}}</ui-select-match>
            <ui-select-choices repeat="desicion in listadetalleDesicion | filter: $select.search">
              <div ng-bind="desicion.respuesta"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
    <div class="col-lg-3" ng-show="muestroDetalleDesicion">
      <div class="row">
        <div class="col-lg-3 legend">Evento</div>
        <div class="col-lg-9">
          <ui-select ng-model="eventoDetalleSeleccionado.selected">
            <ui-select-match placeholder="Seleccione un evento">{{$select.selected.nombre}}</ui-select-match>
            <ui-select-choices repeat="evento2 in listaEventos | filter: $select.search">
              <div ng-bind="evento2.nombre"></div>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-show="errorEventoPadre">
    <div class="col-lg-3 legend"> <div class="legend error-label">{{errorEventoPadreMensaje}}</div></div>
    <div class="col-lg-9"></div>
  </div>
  <div class="row" ng-show="muestroDetalleDesicion">
    <div class="col-lg-9"></div>
    <div class="col-lg-3"><div ng-click="agregarDesicionEvento()" class="btn btn-info">+</div></div>
  </div>
  <div class="row" ng-show="errorDesicionEvento">
    <div class="col-lg-6"></div>
    <div class="col-lg-6 legend"><div class="legend error-label">{{errorDesicionEventoMensaje}}</div></div>
  </div>
  <div class="row separador" ng-show="muestroTablaDesicionEvento">
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="issue in $data">
          <td data-title="'Decision'">{{issue.desicion.respuesta}}</td>
          <td data-title="'Evento'">{{issue.evento.nombre}}</td>
          <td data-title="'Prioridad'"><input type="number" ng-model="issue.prioridad"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" ng-show="muestroTablaDesicionEvento">
    <div class="col-lg-9"></div>
    <div class="col-lg-3"><div ng-click="agregarEvento()" class="btn btn-info">Agregar</div></div>
  </div>
  <div class="row separador" ng-show="true">
    <div class="col-lg-12">
      <table ng-table="tableWorkflowEventosParam" class="table table-condensed table-bordered table-striped">
        <tr ng-repeat="issue in $data">
          <td data-title="'Evento'">{{issue.nombre}}</td>
          <td data-title="'Rol'">{{issue.rol.nombre}}</td>
          <td data-title="'Decision'">{{issue.desicion}}</td>
          <td data-title="'Opcion'">{{issue.opcion.respuesta}}</td>
          <td data-title="'Proximo'">{{issue.proximo.nombre}}</td>
          <td data-title="'Prioridad'">{{issue.prioridad}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" ng-show="muestroTabla">
    <div class="col-lg-3"></div>
    <div class="col-lg-6"><div ng-click="crearWorkflowEvento()" class="btn btn-info">Crear</div></div>
    <div class="col-lg-9"></div>
  </div>

</div>
<div  class="modal-footer">
  <button  ng-show="form.$valid" class="btn btn-info" ng-click="crearEditar()">{{tituloBoton}}</button>
  <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
</div>












