<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">×</button>
  <h4 class="modal-title">{{modal.tituloModal}}</h4>
</div>
<div class="modal-body">
  <form ng-disabled="submitting" name="form" class="form-horizontal" novalidate>
    <formly-form model="objeto" fields="formulario">
    </formly-form>
  </form>
</div>
<div  class="modal-footer">
  <!--<span ng-show="!form.$valid" class="pull-left error-label">* Por favor llenar campos obligatorios</span>-->
  <!--<button  ng-hide="submitting || !tituloBoton" ng-disabled="!form.$valid || submitting" class="btn btn-info" ng-click="crearEditar()">{{tituloBoton}}</button>-->
  <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
</div>
