<div class="row">
  <div class="col-lg-6 col-lg-offset-2 divider-right">
    <form ng-disabled="true" name="form" class="form-horizontal form-crear-ot" novalidate>
      <formly-form model="objeto" fields="formulario">
      </formly-form>
    </form>
  </div>
  <div class="col-lg-4">
    <div class="row">
      <figure class="avatar">
        <img width="100" height="100" src="images/avatar-default.png" alt="{{currentUser.nombres}} {{currentUser.apellidos}}"/>
        <figcaption><a href="">Cambiar Avatar</a></figcaption>
      </figure>
    </div>
  </div>
</div>
