<div ng-if="!!logged" class="collapse navbar-collapse" id="js-navbar-collapse">

  <ul ng-mouseover="hoverIn()" codigo-menu="100" class="nav navbar-nav">
    <li><a  ui-sref="dashboard">Dashboard</a></li>
    <li  class="dropdown">
      <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Gestión de OT<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a codigo-menu="110" ui-sref="gestion-ot-general.ot">Listado de Ordenes de Trabajo</a></li>
        <li><a codigo-menu="120" ui-sref="gestion-ot.ot">Visualizar OT</a></li>
        <li><a codigo-menu="130" ui-sref="gestion-ot-pendiente-aprobacion.aprobacion">Pendientes de Aprobación</a></li>
        <li><a codigo-menu="140" ui-sref="gestion-ot-pendiente-asignacion.asignacion">Pendientes de Asignación</a></li>
      </ul>
    </li>
  </ul>
  <ul codigo-menu="800" class="nav navbar-nav">
    <li  class="dropdown">
      <a  class="dropdown-toggle" role="button" aria-expanded="false">Gestión de Cubicación<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <!--<li><a codigo-menu="810" ui-sref="cubicacion">Cubicar</a></li>-->
        <li><a codigo-menu="820" ui-sref="gestion-cubicacion-general.cubicacion">Listar Cubicaciones</a></li>
        <li><a codigo-menu="830" ui-sref="cubicacion-clonar">Clonar Cubicación</a></li>
      </ul>
    </li>
  </ul>
  <ul codigo-menu="200" class="nav navbar-nav">
    <li class="dropdown">
      <a  class="dropdown-toggle"  role="button" aria-expanded="false">Gestión de Pagos<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a codigo-menu="210" ui-sref="administracion-usuarios.usuarios">Aprobar Pagos</a></li>
        <li><a codigo-menu="220" ui-sref="dummy">Visualizar Pagos</a></li>
      </ul>
    </li>
  </ul>
  <ul codigo-menu="300" class="nav navbar-nav">
    <li class="dropdown">
      <a  class="dropdown-toggle"  role="button" aria-expanded="false">Administración<span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a codigo-menu="310" ui-sref="administracion-usuarios.usuarios">Usuarios</a></li>
        <li><a codigo-menu="320" ui-sref="administracion-proveedores.proveedores">Proveedores</a></li>
        <li><a codigo-menu="330" ui-sref="administracion-workflows.workflows">Workflow</a></li>
        <li><a codigo-menu="340" ui-sref="administracion-cubicador.regiones">Cubicador</a></li>
        <li><a codigo-menu="350" ui-sref="administracion-ot.otes">Ordenes de Trabajo</a></li>
        <li><a codigo-menu="360" ui-sref="administracion-alarmas-notificaciones.alarmas">Alarmas y Notificaciones</a></li>
      </ul>
    </li>
  </ul>
  <form codigo-menu="400" class="navbar-form navbar-left">
    <div class="btn-group">
      <a  class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Crear
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <!--<li><a ng-click="crearCubicacion()" codigo-menu="420">Crear Cubicacion</a></li>-->
        <li ng-click="crearCubicacion()" ><a codigo-menu="420">Crear Costeo</a></li>
        <li ng-click="crearOt()" ><a codigo-menu="410">Crear AP/OT</a></li>
      </ul>
    </div>
  </form>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown avatar">
      <a  ng-if="currentUser.avatar" class="avatar" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img width="30" height="30"  ng-src="currentUser.avatar" alt="{{currentUser.nombres}} {{currentUser.apellidos}}"/><span class="caret"></span></a>
      <a ng-if="!currentUser.avatar"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img width="30" height="30" src="images/avatar-default.png" alt="{{currentUser.nombres}} {{currentUser.apellidos}}"/><span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <!--<li ui-sref="gestion-usuario.cuenta"><a>Mi Cuenta</a></li>-->
        <!--<li class="divider"></li>-->
        <li ng-click="logout()" style="cursor: pointer" ><a>Log Out <i class="fa fa-sign-out"></i></a></li>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right navbar-icon">
    <li  class="dropdown">
      <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <notification-icon count='listadoNotificacionNoread.length' appear-animation='bounce' update-animation='shake' disappear-animation='fade'>
          <i  class="fa fa-bell"></i>
        </notification-icon>
      </a>
      <ul  class="dropdown-menu notifications" role="menu">
        <div ng-show="listadoNotificacion.length > 0">
        <notification-item  refresh="traerNotificaciones" data="item" ng-repeat="item in listadoNotificacion | orderBy:['leido','-fechaCreacion']""></notification-item>
        </div>
        <div ng-show="listadoNotificacion.length == 0" style="padding: 5px">
          <em>No tienes notificaciones</em>
        </div>
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right navbar-welcome">
    <li><a>Bienvenido {{currentUser.nombres}} {{currentUser.apellidos}}, tu rol actual es {{currentUserRole.nombre}}</i></a></li>
  </ul>
</div>
