<div class="row">
  <div class="legend-button">
    <div class="legend">{{to.title}}</div>
  </div>
</div>
<div ng-show="objetos.length > 0" class="row">
  <table template-header="headerSimpleTable.html" ng-table="tableParams" class="table">
    <tr ng-repeat="obj in $data">
      <td title="column.title" ng-repeat="column in to.columnsB" sortable="column.field"  ng-class="column.class">
        <span ng-hide="column.currency || column.type == 'number'">{{column.prefijo}}{{obj[column.field]}}{{column.sufijo}}</span>
        <span ng-show="column.type=='number'">{{obj[column.field] | decimal2comma}}</span>
        <!--<span ng-show="column.type=='number'">{{obj[column.field] | decimal2comma}}</span>-->
        <span ng-show="column.currencySimbol == 'US$' ">{{obj[column.field] | currency: 'US$'}}</span>
        <span ng-show="column.currencySimbol == '€' ">{{obj[column.field] | currency: '€'}}</span>
        <span ng-show="column.currency == true && (column.currencySimbol == '$' || column.currencySimbol == undefined )">{{obj[column.field] | currency: (column.currencySimbol||'$')}}</span>
      </td>
    </tr>
    <tr ng-repeat-end>
      <td></td>
      <td></td>
      <td class="text-success text-right"><strong>Total:</strong></td>
     <td  ng-show="to.columnsB[to.columnsB.length-1].currencySimbol == 'US$' " class="{{to.columnsB[to.columnsB.length-1].class}}">{{sum(objetos, to.columnsB[to.columnsB.length-1].field) | currency:'US$'}}</td>
     <td  ng-show="to.columnsB[to.columnsB.length-1].currencySimbol == '€' " class="{{to.columnsB[to.columnsB.length-1].class}}">{{sum(objetos, to.columnsB[to.columnsB.length-1].field) | currency:'€'}}</td>
     <td  ng-show="to.columnsB[to.columnsB.length-1].currencySimbol == undefined && to.columnsB[to.columnsB.length-1].currency == true" class="{{to.columnsB[to.columnsB.length-1].class}}">{{sum(objetos, to.columnsB[to.columnsB.length-1].field) | currency:'$'}}</td>
     <td ng-show="to.columnsB[to.columnsB.length-1].sufijo" class="{{to.columnsB[to.columnsB.length-1].class}}">{{to.columnsB[to.columnsB.length-1].sufijo}}</td>
    </tr>
  </table>
</div>

<script id="headerSimpleTable.html" type="text/ng-template">
  <tr>
    <th ng-repeat="column in to.columnsB" ng-show="column.visible || true"
        class="text-center sortable" ng-class="{
  'sort-asc': tableParams.isSortBy(column.field, 'asc'),
  'sort-desc': tableParams.isSortBy(column.field, 'desc')}"
        ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
      <div class="sort-indicator">{{column.title}}</div>
    </th>
    <!--<th>Columns:{{columns.length}}</th>-->
  </tr>
</script>
