<!--<ul mfb-menu position="br">-->
  <!--<a label="Play" mfb-button icon="ion-ios-play"></a>-->
<!--</ul>-->
<div class="row  ">
  <div class="col-lg-3 detalle-ot-side-menu">
    <div class="row">
      <div class="col-lg-2">
        <div class="icon-radius-50">
          <figure tooltip="OT" ng-show="objeto.tipoOt.nombre == 'OT'"><img src="images/ot_icon.png"  width="50px"/></figure>
          <figure tooltip="AP" ng-show="objeto.tipoOt.nombre == 'AP'"><img src="images/ap_icon.png" width="50px"/></figure>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="row">
          Número: {{objeto.id}}
        </div>
        <div class="row">
          Nombre: {{objeto.nombre}}
        </div>
      </div>
    </div>
    <div class="row list-group-container">
      <div class="row">
        <strong>Navegación</strong>
      </div>
      <div class="list-group">
        <a ng-click="changeTab('tabCosteos')" href="" ng-class="{active: view_tab == 'tabCosteos'}" class="list-group-item">
          <i class="fa fa-calculator"></i> Costeos
        </a>
        <a ng-click="changeTab('tabActas')"  href=""  ng-class="{active: view_tab == 'tabActas'}" class="list-group-item">
          <i class="fa fa-files-o"></i> Actas
        </a>
        <a ng-click="changeTab('tabLibrosDeObra')"  href=""  ng-class="{active:view_tab == 'tabLibrosDeObra'}" class="list-group-item">
          <i class="fa fa-book"></i> Libros de Obra
        </a>
        <!--//Esperando a que el backend entregue los datos-->
        <!--<a ng-click="changeTab('tabUsuariosValidadores')"  href=""  ng-class="{active: view_tab == 'tabUsuariosValidadores'}" class="list-group-item">-->
          <!--<i class="fa fa-users"></i> Usuarios Validadores-->
        <!--</a>-->
        <a ng-click="changeTab('tabAdjuntos')"  href=""  ng-class="{active: view_tab == 'tabAdjuntos'}" class="list-group-item">
          <i class="fa fa-download"></i> Adjuntos
        </a>
      </div>
    </div>
    <hr/>
    <div cg-busy="{promise:promise,templateUrl:templateUrl,backdrop:false,minDuration:500}" class="row list-group-container">
      <div class="row">
        <strong>Datos {{objeto.tipo}}</strong>
      </div>
      <ul class="list-group">
        <li ng-show="objeto.proveedor" class="list-group-item">
          <span class="badge">{{objeto.proveedor.nombre}}</span>
          <i class="fa fa-caret-right"></i> Proveedor
        </li>
        <li ng-show="objeto.fechaCreacion" class="list-group-item">
          <span class="badge">{{objeto.fechaCreacion | date:'dd-MM-yyyy'}}</span>
          <i class="fa fa-caret-right"></i> Fecha Creación
        </li>
        <li ng-show="objeto.fechaInicioEstimada" class="list-group-item">
          <span class="badge">{{objeto.fechaInicioEstimada | date:'dd-MM-yyyy'}}</span>
          <i class="fa fa-caret-right"></i> Fecha Inicio
        </li>
        <li ng-show="objeto.fechaTerminoEstimada" class="list-group-item">
          <span class="badge">{{objeto.fechaTerminoEstimada | date:'dd-MM-yyyy'}}</span>
          <i class="fa fa-caret-right"></i> Fecha Término
        </li>
        <li ng-show="objeto.contrato" class="list-group-item">
          <span class="badge pull-right">{{objeto.contrato.nombre}}</span>
          <i class="fa fa-caret-right"></i> Contrato
        </li>
        <li ng-show="detalleOt.fechaAdjudicacion" class="list-group-item">
          <span class="badge pull-right">{{detalleOt.fechaAdjudicacion}}</span>
          <i class="fa fa-caret-right"></i> Fecha de Adjudicación
        </li>
        <li ng-show="detalleOt.numero" class="list-group-item">
          <span class="badge">{{detalleOt.numero}}</span>
          <i class="fa fa-caret-right"></i> Número
        </li>
        <li ng-show="detalleOt.numeroCarta" class="list-group-item">
          <span class="badge">{{detalleOt.numeroCarta}}</span>
          <i class="fa fa-caret-right"></i> Número Carta
        </li>
        <li ng-show="detalleOt.numeroPedido" class="list-group-item">
          <span class="badge">{{detalleOt.numeroPedido}}</span>
          <i class="fa fa-caret-right"></i> Número Pedido
        </li>
        <li ng-show="detalleOt.materia" class="list-group-item">
          <span class="pull-right">{{detalleOt.materia}}</span>
          <i class="fa fa-caret-right"></i> Materia
        </li>
        <li ng-show="detalleOt.asunto" class="list-group-item">
            <div class="col-lg-6 text-align-right pull-right no-padding-right">{{detalleOt.materia}}</div>
            <div class="col-lg-3 no-padding-left">  <i class="fa fa-caret-right"></i> Asunto</div>
        </li>
        <li ng-show="detalleOt.lp.lp" class="list-group-item">
          <span class="badge">{{detalleOt.lp.lp}}</span>
          <i class="fa fa-caret-right"></i> Línea Presupuestaria
        </li>
        <li ng-show="detalleOt.planDeProyecto.id" class="list-group-item">
          <span class="badge">{{detalleOt.planDeProyecto.nombre}}</span>
          <i class="fa fa-caret-right"></i> Plan de Proyecto
        </li>
        <li ng-show="detalleOt.codigoProyecto" class="list-group-item">
          <span class="badge">{{detalleOt.codigoProyecto}}</span>
          <i class="fa fa-caret-right"></i> Código de Proyecto
        </li>
        <li ng-show="detalleOt.direccion" class="list-group-item">
          <span class="badge">{{detalleOt.direccion}}</span>
          <i class="fa fa-caret-right"></i> Dirección
        </li>
        <li ng-show="detalleOt.idPmo.id" class="list-group-item">
          <span class="badge">{{detalleOt.idPmo.id}}</span>
          <i class="fa fa-caret-right"></i> ID PMO
        </li>
        <li ng-show="detalleOt.pep2" class="list-group-item">
          <span class="badge">{{detalleOt.pep2}}</span>
          <i class="fa fa-caret-right"></i> PEP2
        </li>
        <li ng-show="detalleOt.sitio.nombre" class="list-group-item">
          <span class="badge">{{detalleOt.sitio.nombre}}</span>
          <i class="fa fa-caret-right"></i> Nombre de Sitio
        </li>
        <li ng-show="detalleOt.sitio.codigo" class="list-group-item">
          <span class="badge">{{detalleOt.sitio.codigo}}</span>
          <i class="fa fa-caret-right"></i> Código de Sitio
        </li>
        <li ng-show="detalleOt.sitio.direccion" class="list-group-item">
          <span class="badge">{{detalleOt.sitio.direccion}}</span>
          <i class="fa fa-caret-right"></i> Dirección
        </li>
        <li ng-show="detalleOt.sitio.latitud" class="list-group-item">
          <span class="badge">{{detalleOt.sitio.latitud}}</span>
          <i class="fa fa-caret-right"></i> Latitud
        </li>
        <li ng-show="detalleOt.sitio.longitud" class="list-group-item">
          <span class="badge">{{detalleOt.sitio.longitud}}</span>
          <i class="fa fa-caret-right"></i> Longitud
        </li>
      </ul>
    </div>

  </div>
  <div class="col-lg-9  detalle-ot-content">
    <div class="row" ng-show="view_tab == 'tabCosteos'">
      <div class="col-lg-12-ot">
        <div class="legend-button">
          <div class="legend">Costeos</div>
        </div>
        <div class="row"><strong>Servicios</strong></div>
        <div ng-show="cubicacion.servicios.length > 0" class="row">
          <formly-field class="form-valor-field" model="cubicacion"  options="tableCosteosServicios"></formly-field>
        </div>
        <div ng-show="cubicacion.servicios.length == 0 || !cubicacion.servicios" class="row">
          No se costearon Servicios...
        </div>
        <div class="row"><strong>Materiales</strong></div>
        <div ng-show="cubicacion.materiales.length > 0" class="row">
          <formly-field class="form-valor-field" model="cubicacion"  options="tableCosteosMateriles"></formly-field>
        </div>
        <div ng-show="cubicacion.materiales.length == 0 || !cubicacion.materiales" class="row">
           No se costearon Materiales...
        </div>
      </div>
    </div>
    <div class="row" ng-show="view_tab == 'tabActas'">
      <div class="row">
        <div class="col-lg-3-ot divider-right">
          <div class="legend-button">
            <div class="legend">Actas</div>
          </div>
          <div ng-show="libroActas.actas.length == 0"><strong>No se encontraron datos..</strong></div>
          <div ng-class="{active: acta.id == currentActa.id}" ng-show="libroActas.actas.length > 0" cg-busy="{promise:promise,templateUrl:templateUrl,backdrop:false,minDuration:500 }"  ng-click="setDetalleDataActas(acta)" ng-repeat="acta in libroActas.actas" class="libro-obra-item divider-bottom">
            <div class="row">
              <i class="fa fa-file-o"></i> <em>{{acta.fechaCreacion}} <span ng-show="acta.creador"> - por: {{acta.creador}}</span></em>
            </div>
          </div>
        </div>
        <div  class="col-lg-4-ot">
          <div class="legend-button">
            <div class="legend">Detalle Actas</div>
          </div>
          <div  ng-show="!!currentActa">
            <div class="row">
              <div class="legend-mini"><strong>Fechas</strong></div>
            </div>
            <div class="row">
              <div class="row">
                <div class="col-lg-3">Fecha Creación:</div>
                <div class="col-lg-3"><em>{{currentActa.fechaCreacion | date : 'dd-MM-yyyy'}}</em></div>
                <div class="col-lg-3">Fecha Término Estimada:</div>
                <div class="col-lg-3"><em>{{currentActa.fechaTerminoEstimada | date : 'dd-MM-yyyy'}}</em></div>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="legend-mini"><strong>Observaciones</strong></div>
            </div>
            <div class="row observacion" ng-repeat="observacion in currentActa.observaciones">
              <div class="col-lg-12">
                <div class="row">{{observacion.observaciones}}</div>
                <div class="row"><em><strong>por: {{observacion.usuario}} en {{observacion.fecha}}</strong></em></div>
                <hr/>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="legend-mini"><strong>Validación</strong></div>
            </div>
            <div class="row">
              <div class="col-lg-3">Validación Sistema:</div>
              <div class="col-lg-3"><span ng-class="{'icon-thumbs icon-thumbs-up glyphicon glyphicon-thumbs-up': currentActa.validacionSistema == 'true','icon-thumbs icon-thumbs-down glyphicon glyphicon-thumbs-down': currentActa.validacionSistema == 'false'}" ></span></div>
              <div class="col-lg-3">Validación Usuario:</div>
              <div class="col-lg-3"><span ng-class="{'icon-thumbs icon-thumbs-up glyphicon glyphicon-thumbs-up': currentActa.validacionSistema == 'true','icon-thumbs icon-thumbs-down glyphicon glyphicon-thumbs-down': currentActa.validacionSistema == 'false' ||currentActa.validacionSistema == 'null' }" ></span></div>
            </div>
            <hr/>
            <div class="row">
              <tabset justified="true" ng-show="currentActa">
                <tab active="true" select="setCurrentTabActaServiciosMateriales('servicios')" heading="Servicios Costeados"></tab>
                <tab select="setCurrentTabActaServiciosMateriales('serviciosAdicionales')" heading="Servicios Adicionales"></tab>
                <tab select="setCurrentTabActaServiciosMateriales('materiales')"  heading="Materiales Costeados"></tab>
                <tab select="setCurrentTabActaServiciosMateriales('materialesAdcionales')" heading="Materiales Adicionales"></tab>
              </tabset>
            </div>
            <div class="row">
              <form name="form" class="form-horizontal" novalidate>
                <formly-form  model="currentActa" fields="tabActaFields">
                </formly-form>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-show="view_tab == 'tabLibrosDeObra'">
      <div class="row">
        <div class="col-lg-3-ot  divider-right">
          <div class="legend-button">
            <div class="legend">Libros de Obra</div>
          </div>
          <div ng-show="libroActas.librosDeObras.length == 0"><strong>No se encontraron datos..</strong></div>
          <div ng-class="{active: libro.id == currentLibroDeObre.id}" ng-show="libroActas.librosDeObras.length > 0" cg-busy="{promise:promise,templateUrl:templateUrl,backdrop:false,minDuration:500 }"  ng-click="setDetalleDataLibroObras(libro)" ng-repeat="libro in libroActas.librosDeObras" class="libro-obra-item divider-bottom">
            <div class="row">
              <i class="fa fa-book"></i> {{libro.observaciones}}
            </div>
            <div class="row">
              <em>{{libro.fechaCreacion}} - por: {{libro.creador}}</em>
            </div>
          </div>

        </div>
        <div  class="col-lg-4-ot">
          <div class="legend-button">
            <div class="legend">Archivos de Libro</div>
          </div>
          <div ng-click="descargar(resumen)" cg-busy="{promise:promise,templateUrl:templateUrl,backdrop:false,minDuration:500}" ng-repeat="resumen in libroActas.resumen" class="libro-obra-item divider-bottom">
            <div class="row">
              <i class="icon-option fa fa-download"></i> {{resumen.nombreArchivo}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" ng-show="view_tab == 'tabUsuariosValidadores'">
      <div class="col-lg-12-ot">
        <div class="legend-button">
          <div class="legend">Usuarios Validadores</div>
        </div>
      </div>
    </div>
    <div class="row" ng-show="view_tab == 'tabAdjuntos'">
      <div class="col-lg-12-ot">

        <div class="legend-button">
          <div class="legend">Adjuntos</div>
        </div>
        <div ng-show="adjuntos.length == 0 || !adjuntos" class="row">
          <strong> No se encontraron datos...</strong>
        </div>
          <div ng-click="descargarAdjunto(adjunto)" cg-busy="{promise:promise,templateUrl:templateUrl,backdrop:false,minDuration:500}" ng-repeat="adjunto in adjuntos" class="libro-obra-item divider-bottom">
            <div class="row">
              <i class="icon-option fa fa-download"></i> {{adjunto.nombreArchivo}}
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<script id="headerVerDetalleOtActas.html" type="text/ng-template">
  <tr>
    <th ng-repeat="column in headerTableActas" ng-show="column.visible || true"
        class="text-center sortable" ng-class="{
'sort-asc': tableParams.isSortBy(column.field, 'asc'),
'sort-desc': tableParams.isSortBy(column.field, 'desc')}"
        ng-click="tableParams.sorting(column.field, tableParams.isSortBy(column.field, 'asc') ? 'desc' : 'asc')">
      <div class="sort-indicator">{{column.title}}</div>
    </th>
    <!--<th>Columns:{{columns.length}}</th>-->
  </tr>
</script>


