<div class="row">
  <div class="row">
    <div class="col-lg-12">
      <div class="legend-button">
        <div class="legend">Contratos</div>
        <div ng-click="crearEditarContrato()" class="btn btn-info">Crear Contrato</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table ng-table="tableParamsContrato" class="table">
        <tr ng-repeat="contrato in $data">
          <td data-title="'Nombre'" data-sortable="'nombre'">
            {{contrato.nombre}}
          </td>
          <td data-title="'Workflow'" data-sortable="'workflow'">
            {{contrato.workflow.nombre}}
          </td>
          <td data-title="'Proveedor'" data-sortable="'proveedor'">
            {{contrato.proveedor}}
          </td>
          <td class="text-center" data-title="'Fecha de Inicio'" data-sortable="'fechaInicio'">
            {{contrato.fechaInicio | date : 'dd-MM-yyyy'}}
          </td>
          <td class="text-center" data-title="'Fecha de Termino'" data-sortable="'fechaFin'">
            {{contrato.fechaFin | date : 'dd-MM-yyyy'}}
          </td>
          <td class="text-center" data-title="'Estado'" data-sortable="'estado'">
            {{contrato.estado | estado}}
          </td>
          <td class="text-center" data-title="'Editar'">
            <div ng-click="crearEditarContrato(contrato)" class="icon-option"><i tooltip="Editar {{contrato.nombre}}" class="glyphicon glyphicon-edit"></i></div>
            <div ng-click="eliminarContrato(contrato)" class="icon-option"><i tooltip="Eliminar {{contrato.nombre}}" class="glyphicon glyphicon-remove"></i></div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

