<div class="row row-first">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Log In</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4 text-center">
            <img src="images/logo_lg.png" width="150px" alt=""/>
          </div>
          <div class="col-md-8 divider-left">
            <form class="form-horizontal" name="loginForm"
                  ng-submit="buscar(credentials)" novalidate>
              <fieldset>
                <div class="form-group col-lg-12">
                  <label class="control-label">Usuario</label>
                  <input type="text" class="form-control" ng-model="credentials.usuario" placeholder="">
                </div>
                <div class="form-group col-lg-12">
                  <label class="control-label">Contraseña</label>
                  <input type="password" ng-model="credentials.clave" class="form-control" placeholder="">
                  <!--<div class="checkbox">-->
                  <!--<label>-->
                  <!--<input type="checkbox"> Mantener conectado-->
                  <!--</label>-->
                  <!--</div>-->
                </div>
                <div ng-show="showRoleSelect" class="form-group col-lg-12">
                  <label class="control-label">Seleccionar Rol</label>
                  <ui-select ng-model="selectedRole.selected"
                             theme="bootstrap"
                             reset-search-input="false">
                    <ui-select-match placeholder="Seleccionar Rol">{{$select.selected.nombre}}</ui-select-match>
                    <ui-select-choices repeat="roles in currentUser.usuariosRoles">
                      <div ng-bind-html="roles.nombre | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                    <em class="subtitle subtitle-red" ng-show="currentUser.usuariosRoles.length == 1"><strong>Rol seleccionado automáticamente ya que solo tienes 1 rol</strong></em>
                </div>
                <div class="form-group">
                  <div class="col-lg-9">
                    <button type="submit"  class="btn btn-info">Buscar Usuario</button>
                    <button type="button" ng-disabled="!selectedRole.selected" ng-click="login()" ng-show="showLogButton" class="btn btn-info">Log In</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 text-right">
    <em>{{version}}</em>
  </div>
</div>
