<div class="row">
    <div class="row">
      <div class="col-lg-12">
      <div class="legend-button">
        <div class="legend">Materiales</div>
        <div ng-click="crearEditarRol()" class="btn btn-info">Crear Material</div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <table ng-table="tableParamsMateriales" class="table">
          <tr ng-repeat="material in $data">
            <td data-title="'Codigo'" data-sortable="'codigo'">
              {{material.codigo}}
            </td>
            <td data-title="'Nombre'" data-sortable="'nombre'">
              {{material.nombre}}
            </td>
            <td data-title="'Descripcion'" data-sortable="'descripcion'">
              {{material.descripcion}}
            </td>
            <td data-title="'Valor'" data-sortable="'valor'">
              {{material.valor}}
            </td>
            <td data-title="'Stock Actual'" data-sortable="'stockActual'">
              {{material.stockActual}}
            </td>
            <td class="text-center" data-title="'Estado'" data-sortable="'estado'">
              {{material.estado | estado}}
            </td>
            <td class="text-center" data-title="'Opciones'">
              <div ng-click="crearEditarMaterial(material)" class="icon-option"><i tooltip="Editar a {{material.nombre}}"  class="glyphicon glyphicon-edit"></i></div>
              <div ng-click="eliminarMaterial(material)" class="icon-option"><i tooltip="Eliminar a {{material.nombre}}"  class="glyphicon glyphicon-remove"></i></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
</div>
