<div class="row">
    <div class="row">
      <div class="col-lg-12">
      <div class="legend-button">
        <div class="legend">Roles</div>
        <div ng-click="crearEditarRol()" class="btn btn-info">Crear Rol</div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!--<table ng-show="$data.length == 0" ng-table="tableParamsRoles" class="table">-->
          <!--<tr>-->
            <!--<td>No existen Roles creados</td>-->
          <!--</tr>-->
        <!--</table>-->
        <!--<table ng-show="$data.length != 0" ng-table="tableParamsRoles" class="table">-->
        <table ng-table="tableParamsRoles" class="table">
          <tr ng-repeat="rol in $data">
            <td data-title="'Nombre'" data-sortable="'nombre'">
              {{rol.nombre}}
            </td>
            <td data-title="'Perfil'" data-sortable="'perfil'">
              {{rol.perfiles.nombre}}
            </td>
            <td class="text-center" data-title="'Estado'" data-sortable="'estado'">
              {{rol.estado | estado}}
            </td>
            <td class="text-center" data-title="'Opciones'">
              <div ng-click="crearEditarRol(rol)" class="icon-option"><i tooltip="Editar a {{rol.nombre}}"  class="glyphicon glyphicon-edit"></i></div>
              <div ng-click="eliminarRol(rol)" class="icon-option"><i tooltip="Eliminar a {{rol.nombre}}"  class="glyphicon glyphicon-remove"></i></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
</div>
